<web-app>
‌<servlet>‌ ‌
‌<servlet-name>Myservlet</servlet-name>‌ ‌
‌<servlet-class>Log</servlet-class>‌ ‌
‌</servlet>‌ ‌
‌<servlet-mapping>‌ ‌
‌<servlet-name>Myservlet</servlet-name>‌
‌<url-pattern>/logval</url-pattern>‌ ‌
</servlet-mapping>‌ 
<servlet>‌ ‌
‌<servlet-name>Myservlet2</servlet-name>‌ ‌
‌<servlet-class>Shipping</servlet-class>‌ ‌
‌</servlet>‌ ‌
‌<servlet-mapping>‌ ‌
‌<servlet-name>Myservlet2</servlet-name>‌
‌<url-pattern>/shipping</url-pattern>‌ ‌
</servlet-mapping>‌ 
<servlet>‌ ‌
‌<servlet-name>Myservlet3</servlet-name>‌ ‌
‌<servlet-class>Order</servlet-class>‌ ‌
‌</servlet>‌ ‌
‌<servlet-mapping>‌ ‌
‌<servlet-name>Myservlet3</servlet-name>‌
‌<url-pattern>/order</url-pattern>‌ ‌
</servlet-mapping>‌ ‌
</web-app>