
.card-details {
background:rgb(123, 26, 136);
color: rgb(4, 58, 12);
margin: 10px 30px;
padding: 10px;
/* border-bottom-left-radius: 80px; */
}

.card-details p {
font-size: 15px;
}

.card-details label {
font-size: 15px;
line-height: 35px;
}

.submit-now-btn {
cursor: pointer;
color: #fff;
height: 30px;
width: 240px;
border: none;
margin: 5px 30px;
background-color: rgb(35, 136, 26);
}
